@{
    ViewData["Title"] = "Index";
}



<h1>Geo Locator</h1>




<h5>Enter Public IP</h5>

<form action="/action_page.php">
    <label for="fname">Public IP:</label>
    <input type="text" id="Public IP" name="Public IP"><br><br>
    <input type="submit" value="Locate Asset">
</form>


